<ng-template #filterFieldsTemplate>
    <div class="filters-form-surfaces-container" [class.choosing-filter-value]="choosingFilterValue">
        <div class="filters-first-surface">
            <app-filters-form-field (onClick)="onStateFilterClick()" [labelText]="'Estado de la República'"
                [valueText]="selectedStatesSummary">
            </app-filters-form-field>
            <app-filters-form-field (onClick)="onRoleFilterClick()" [labelText]="'Rol'"
                [valueText]="selectedRolesSummary">
            </app-filters-form-field>
        </div>
        <div class="filters-second-surface {{filtersSecondSurfaceClass}}">
            <div class="state">
                @for (state of states; track state.id) {
                <app-filters-form-checkbox [value]="state.id" [text]="state.name" [model]="selectedStates"
                    (onClick)="onStateCheckboxClick(state.id)"></app-filters-form-checkbox>
                }
            </div>
            <div class="role">
                @for (role of roles; track role.id) {
                <app-filters-form-checkbox [value]="role.id" [text]="role.name" [model]="selectedRoles"
                    (onClick)="onRoleCheckboxClick(role.id)"></app-filters-form-checkbox>
                }
            </div>
            <div class="loading">
                @for (i of loadingSkeletonIndexRange(); track i) {
                <p-skeleton [style]="{'height': '30px'}" />
                }
            </div>
        </div>
    </div>
</ng-template>

<ng-template #rowTemplate let-item>
    <td>{{ item.name }}</td>
    <td>{{ item.lastName }}</td>
    <td>{{ item.role.name }}</td>
    <td>{{ formatUserLocation(item) }}</td>
    <td>{{ item.email }}</td>
    <td>{{ item.phone }}</td>
</ng-template>

<ng-template #createItemFieldsTemplate let-errors="errors" let-formGroup="formGroup">
    <app-user-form-fields [errors]="errors" [controls]="userCreationFormControls(formGroup)"
        [statesOptionsStatus]="statesOptionsStatus" [rolesOptionsStatus]="rolesOptionsStatus"
        [onRetryLoadStates]="onRetryLoadStates()" [onRetryLoadRoles]="onRetryLoadRoles()"></app-user-form-fields>
    <div class="password-field">
        <div class="user-form-input">
            <label>Contraseña</label>
            <input pInputText name="user-password" type="{{ passwordInputType }}"
                [formControl]="formGroup.get('password')" [style]="{'flex': '1'}" />
            @if (errors['password']) {
            <div class="form-error password">
                {{ errors['password'] }}
            </div>
            } @else {
            <div class="transparent">.</div>
            }
        </div>
        <button type="button" pButton icon="pi pi-{{ passwordVisibilityIcon }}" (click)="onPasswordVisibilityClick()"
            [text]="true">
        </button>
    </div>
    <div class="password-field">
        <div class="user-form-input">
            <label>Confirmar contraseña</label>
            <input pInputText name="user-confirmed-password" type="{{ passwordInputType }}"
                [formControl]="formGroup.get('confirmedPassword')" [style]="{'flex': '1'}" />
            @if (errors['confirmedPassword']) {
            <div class="form-error confirmed-password">
                {{ errors['confirmedPassword'] }}
            </div>
            } @else {
            <div class="transparent">.</div>
            }
        </div>
        <button type="button" pButton icon="pi pi-{{ passwordVisibilityIcon }}" (click)="onPasswordVisibilityClick()"
            [text]="true">
        </button>
    </div>
</ng-template>

<ng-template #updateItemFieldsTemplate let-errors="errors" let-formGroup="formGroup">
    <app-user-form-fields [errors]="errors" [controls]="userUpdateFormControls(formGroup)"
        [statesOptionsStatus]="statesOptionsStatus" [rolesOptionsStatus]="rolesOptionsStatus"
        [onRetryLoadStates]="onRetryLoadStates()" [onRetryLoadRoles]="onRetryLoadRoles()">
    </app-user-form-fields>
</ng-template>

<app-crud-module [title]="'Usuarios'" [formTitle]="'Usuario'" [createItemCreationForm]="createCreationForm()"
    [createItemUpdateForm]="createUpdateForm()" [getItems]="getItems()" [sortOptions]="sortOptions"
    [tableHeaders]="tableHeaders" [rowTemplate]="rowTemplate" [createItemFieldsTemplate]="createItemFieldsTemplate"
    [updateItemFieldsTemplate]="updateItemFieldsTemplate" [getCreationErrors]="getCreationErrors()"
    [getUpdateErrors]="getUpdateErrors()" [loadOptionsOnRowClick]="loadOptionsOnRowClick()"
    [onCreateNewClick]="onCreateNewClick()" [mapItemOperationError]="mapItemOperationError()"
    [createItem]="createItem()" [updateItem]="updateItem()" [mapFormToCreationDto]="mapFormToCreationDto()"
    [mapFormToUpdateDto]="mapFormToUpdateDto()" [deleteItemById]="deleteItemById()"
    [handleUpdateResponse]="handleUpdateResponse()" [updateItemFieldsStyle]="{'padding-bottom': '100px'}"
    [searchPlaceholder]="'Nombre o apellido'" [pluralNoun]="'Usuarios'" [filterFieldsTemplate]="filterFieldsTemplate"
    [onHideFiltersFormClick]="onHideFiltersFormClick()" [choosingFilterValue]="choosingFilterValue"
    [onGoBackToChoosingFilter]="onGoBackToChoosingFilter()" [filtersSecondSurfaceTitle]="filtersSecondSurfaceTitle"
    [onPatchUpdateForm]="onPatchUpdateForm()">
</app-crud-module>