<ng-template #rowTemplate let-item>
    <td>{{ item.name }}</td>
    <td>{{ item.lastName }}</td>
    <td>{{ item.role.name }}</td>
    <td>{{ formatUserLocation(item) }}</td>
    <td>{{ item.email }}</td>
    <td>{{ item.phone }}</td>
</ng-template>

<app-crud-module [title]="'Usuarios'" [createItemCreationForm]="createCreationForm()"
    [createItemUpdateForm]="createUpdateForm()" [getItems]="getItems()" [sortOptions]="sortOptions"
    [tableHeaders]="tableHeaders" [rowTemplate]="rowTemplate">
</app-crud-module>