<p-dialog [draggable]="false" [dismissableMask]="true" (onHide)="onHideUserForm()" header="Usuario" [modal]="true"
    [(visible)]="createItemVisible" [style]="{'padding-bottom': '0'}">
    <form class="create-user-form" [formGroup]="userForm" (ngSubmit)="onUserFormSubmit()">
        <fieldset class="create-user-fields">
            <div class="double-input-container">
                <div class="create-user-input">
                    <label for="create-user-name">Nombre</label>
                    <input pInputText id="create-user-name" formControlName="name" [style]="{'width': '100%'}" />
                    <div class="form-error">
                        {{ nameError }}
                    </div>
                </div>
                <div class="create-user-input">
                    <label for="create-user-last-name">Apellido</label>
                    <input pInputText id="create-user-last-name" formControlName="lastName"
                        [style]="{'width': '100%'}" />
                    <div class="form-error">
                        {{ lastNameError }}
                    </div>
                </div>
            </div>
            <div class="double-input-container">
                <div class="create-user-input">
                    <label for="create-user-state">Estado</label>
                    <input pInputText id="create-user-state" formControlName="state" [style]="{'width': '100%'}" />
                    <div class="form-error">
                        {{ stateError }}
                    </div>
                </div>
                <div class="create-user-input">
                    <label for="create-user-city">Ciudad</label>
                    <input pInputText id="create-user-city" formControlName="city" [style]="{'width': '100%'}" />
                    <div class="form-error">
                        {{ cityError }}
                    </div>
                </div>
            </div>
            <div class="double-input-container">
                <div class="create-user-input">
                    <label for="create-user-district">Colonia</label>
                    <input pInputText id="create-user-district" formControlName="district"
                        [style]="{'width': '100%'}" />
                    <div class="form-error">
                        {{ districtError }}
                    </div>
                </div>
                <div class="create-user-input">
                    <label for="create-user-street">Calle</label>
                    <input pInputText id="create-user-street" formControlName="street" [style]="{'width': '100%'}" />
                    <div class="form-error">
                        {{ streetError }}
                    </div>
                </div>
            </div>
            <div class="double-input-container">
                <div class="create-user-input">
                    <label for="create-user-street-number">Número de vivienda</label>
                    <input pInputText id="create-user-street-number" formControlName="streetNumber"
                        [style]="{'width': '100%'}" />
                    <div class="form-error">
                        {{ streetNumberError }}
                    </div>
                </div>
                <div class="create-user-input">
                    <label for="create-user-zip-code">Código postal</label>
                    <input pInputText id="create-user-zip-code" formControlName="zipCode" [style]="{'width': '100%'}" />
                    <div class="form-error">
                        {{ zipCodeError }}
                    </div>
                </div>
            </div>
            <div class="double-input-container">
                <div class="create-user-input">
                    <label for="create-user-email">Correo</label>
                    <input pInputText id="create-user-email" formControlName="email" [style]="{'width': '100%'}" />
                    <div class="form-error">
                        {{ emailError }}
                    </div>
                </div>
                <div class="create-user-input">
                    <label for="create-user-phone">Teléfono</label>
                    <input pInputText id="create-user-phone" formControlName="phone" [style]="{'width': '100%'}" />
                    <div class="form-error">
                        {{ phoneError }}
                    </div>
                </div>
            </div>
            <div class="create-user-input">
                <label for="create-user-role">Rol</label>
                @if (loadingUserFormOptions) {
                <div class="create-user__progress-container">
                    <p-progressSpinner class="create-user__progress" ariaLabel="loading"
                        [style]="{'width': '40px', 'height': '40px'}" />
                </div>
                } @else {
                <p-dropdown id="create-user-role" formControlName="role" [options]="roleOptions"
                    optionLabel="description" optionValue="id" placeholder="Rol" [style]="{'width': '100%'}" />
                }
                <div class="form-error">
                    {{ roleError }}
                </div>
            </div>
        </fieldset>
        <div class="item-form__actions">
            <p-button label="Cancelar" severity="secondary" (click)="onCancelUserForm()" />
            <p-button label="Guardar" type="submit" />
        </div>
    </form>
</p-dialog>
@if (loadingFirstTime) {
<div class="content__progress-container">
    <p-progressSpinner class="content__progress" ariaLabel="loading" [style]="{'width': '100px', 'height': '100px'}" />
</div>
} @else {
<div class="top-row">
    <h1 class="title">Usuarios</h1>
    <p-button label="Nuevo" icon="pi pi-plus" (onClick)="onCreateClick()" />
</div>
<div class="search-controls-container">
    <div class="search__bar-container">
        <p-inputGroup>
            <p-inputGroupAddon>
                <i class="pi pi-search"></i>
            </p-inputGroupAddon>
            <input pInputText placeholder="Buscar usuarios" [formControl]="searchControl" />
        </p-inputGroup>
    </div>
    <div class="sort-dropdown-container">
        <p-dropdown [options]="sortOptions" [(ngModel)]="selectedSort" optionLabel="name" placeholder="Ordenar por"
            [style]="{'width': '100%'}" (onChange)="onSortChanged()" />
    </div>
</div>
<div class="paginator-container">
    <p-paginator (onPageChange)="onPageChange($event)" [showFirstLastIcon]="false" [pageLinkSize]="4" [first]="first"
        [rows]="rows" [totalRecords]="totalRecords" />
</div>
<div class="total-items-container">
    <p class="total-items">{{lastSeenTotalItems}} resultados</p>
</div>
<div class="users">
    @if (loadingSubsequentTime) {
    <div class="users__progress-container">
        <p-progressSpinner class="users__progress" ariaLabel="loading" [style]="{'width': '70px', 'height': '70px'}" />
    </div>
    } @else {
    <p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Rol</th>
                <th>Ubicación</th>
                <th>Correo</th>
                <th>Teléfono</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.role }}</td>
                <td>{{ formatUserLocation(user) }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
            </tr>
        </ng-template>
    </p-table>
    }
</div>
}