.content__progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.search__bar-container {
    margin: 20px 0 0 0;
}

.users {
    margin-top: 30px;
}

.title {
    color: rgb(25, 53, 74);
}