<p-dialog header="Usuario" [modal]="true" [visible]="createNewVisible" [style]="{ width: '25rem' }">
    <form action="">
        <fieldset class="create-user-fields">
            <div class="create-user-input">
                <label for="create-user-name">Nombre</label>
                <input pInputText id="create-user-name" [style]="{'width': '100%'}" />
            </div>
            <div class="create-user-input">
                <label for="create-user-last-name">Apellido</label>
                <input pInputText id="create-user-last-name" [style]="{'width': '100%'}" />
            </div>
            <div class="create-user-input">
                <label for="create-user-state">Estado</label>
                <input pInputText id="create-user-state" [style]="{'width': '100%'}" />
            </div>
            <div class="create-user-input">
                <label for="create-user-city">Ciudad</label>
                <input pInputText id="create-user-city" [style]="{'width': '100%'}" />
            </div>
            <div class="create-user-input">
                <label for="create-user-district">Colonia</label>
                <input pInputText id="create-user-district" [style]="{'width': '100%'}" />
            </div>
            <div class="create-user-input">
                <label for="create-user-street">Calle</label>
                <input pInputText id="create-user-street" [style]="{'width': '100%'}" />
            </div>
            <div class="create-user-input">
                <label for="create-user-street-number">Número de calle</label>
                <input pInputText id="create-user-street-number" [style]="{'width': '100%'}" />
            </div>
            <div class="create-user-input">
                <label for="create-user-email">Correo</label>
                <input pInputText id="create-user-email" [style]="{'width': '100%'}" />
            </div>
            <div class="create-user-input">
                <label for="create-user-phone">Teléfono</label>
                <input pInputText id="create-user-phone" [style]="{'width': '100%'}" />
            </div>
            <div class="create-user-input">
                <label for="create-user-role">Rol</label>
                @if (loadingUserFormOptions) {
                <div class="create-user__progress-container">
                    <p-progressSpinner class="create-user__progress" ariaLabel="loading"
                        [style]="{'width': '40px', 'height': '40px'}" />
                </div>
                } @else {
                <p-dropdown id="create-user-role" [options]="roleOptions" optionLabel="description" placeholder="Rol"
                    [style]="{'width': '100%'}" />
                }
            </div>
        </fieldset>
        <div class="item-form__actions">
            <p-button label="Cancelar" severity="secondary" />
            <p-button label="Guardar" />
        </div>
    </form>
</p-dialog>
@if (loadingFirstTime) {
<div class="content__progress-container">
    <p-progressSpinner class="content__progress" ariaLabel="loading" [style]="{'width': '100px', 'height': '100px'}" />
</div>
} @else {
<div class="top-row">
    <h1 class="title">Usuarios</h1>
    <p-button label="Nuevo" icon="pi pi-plus" (onClick)="onCreateClick()" />
</div>
<div class="search__bar-container">
    <p-inputGroup>
        <p-inputGroupAddon>
            <i class="pi pi-search"></i>
        </p-inputGroupAddon>
        <input pInputText placeholder="Buscar usuarios" [formControl]="searchControl" />
    </p-inputGroup>
</div>
<div class="sort-dropdown-container">
    <p-dropdown [options]="sortOptions" [(ngModel)]="selectedSort" optionLabel="name" placeholder="Ordenar por"
        [style]="{'width': '100%'}" (onChange)="onSortChanged()" />
</div>
<div class="paginator-container">
    <p-paginator (onPageChange)="onPageChange($event)" [showFirstLastIcon]="false" [pageLinkSize]="4" [first]="first"
        [rows]="rows" [totalRecords]="totalRecords" />
</div>
<div class="total-items-container">
    <p class="total-items">{{lastSeenTotalItems}} resultados</p>
</div>
<div class="users">
    @if (loadingSubsequentTime) {
    <div class="users__progress-container">
        <p-progressSpinner class="users__progress" ariaLabel="loading" [style]="{'width': '70px', 'height': '70px'}" />
    </div>
    } @else {
    <p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Rol</th>
                <th>Ubicación</th>
                <th>Correo</th>
                <th>Teléfono</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.role }}</td>
                <td>{{ formatUserLocation(user) }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
            </tr>
        </ng-template>
    </p-table>
    }
</div>
}