.content__progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.users__progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}


.search__bar-container {
    margin: 20px 0 0 0;
}

.users {
    margin-top: 20px;
}

.title {
    color: rgb(25, 53, 74);
}

.sort-dropdown-container {
    margin-top: 20px;
}

.paginator-container {
    margin-top: 10px;
}