<p-confirmDialog />
<p-dialog class="save-user-dialog" [draggable]="false" [dismissableMask]="false" (onHide)="onHideUserForm()"
    header="Usuario" [modal]="true" [(visible)]="createItemVisible" [style]="{'padding-bottom': '0'}">
    <form id="create-user-form" class="create-user-form" [formGroup]="userForm" (ngSubmit)="onCreateUserSubmit()">
        <fieldset class="create-user-fields">
            <div class="double-input-container">
                <div class="create-user-input">
                    <label for="create-user-name">Nombre</label>
                    <input pInputText id="create-user-name" formControlName="name" [style]="{'width': '100%'}" />
                    <div class="form-error name">
                        {{ creationErrors['name'] }}
                    </div>
                </div>
                <div class="create-user-input">
                    <label for="create-user-last-name">Apellido</label>
                    <input pInputText id="create-user-last-name" formControlName="lastName"
                        [style]="{'width': '100%'}" />
                    <div class="form-error last-name">
                        {{ creationErrors['lastName'] }}
                    </div>
                </div>
            </div>
            <div class="double-input-container">
                <div class="create-user-input">
                    <label for="create-user-state">Estado</label>
                    @if (loadingStatesOptions) {
                    <div class="create-user__progress-container">
                        <p-progressSpinner class="create-user__progress" ariaLabel="loading"
                            [style]="{'width': '40px', 'height': '40px'}" />
                    </div>
                    } @else if (loadingStatesError) {
                    <div class="dropdown-load-error">
                        <div>Error de carga</div>
                        <p-button (click)="onRetryLoadStates()" [outlined]="true" icon="pi pi-refresh"
                            severity="secondary" />
                    </div>
                    } @else {
                    <p-dropdown id="create-user-state" formControlName="state" [options]="stateOptions"
                        optionLabel="name" optionValue="id" placeholder="Estado" [style]="{'width': '100%'}" />
                    }
                    <div class="form-error state">
                        {{ creationErrors['state'] }}
                    </div>
                </div>
                <div class="create-user-input">
                    <label for="create-user-city">Ciudad</label>
                    <input pInputText id="create-user-city" formControlName="city" [style]="{'width': '100%'}" />
                    <div class="form-error city">
                        {{ creationErrors['city'] }}
                    </div>
                </div>
            </div>
            <div class="double-input-container">
                <div class="create-user-input">
                    <label for="create-user-district">Colonia</label>
                    <input pInputText id="create-user-district" formControlName="district"
                        [style]="{'width': '100%'}" />
                    <div class="form-error district">
                        {{ creationErrors['district'] }}
                    </div>
                </div>
                <div class="create-user-input">
                    <label for="create-user-street">Calle</label>
                    <input pInputText id="create-user-street" formControlName="street" [style]="{'width': '100%'}" />
                    <div class="form-error street">
                        {{ creationErrors['street'] }}
                    </div>
                </div>
            </div>
            <div class="double-input-container">
                <div class="create-user-input">
                    <label for="create-user-street-number">Número de vivienda</label>
                    <input pInputText id="create-user-street-number" formControlName="streetNumber"
                        [style]="{'width': '100%'}" />
                    <div class="form-error street-number">
                        {{ creationErrors['streetNumber'] }}
                    </div>
                </div>
                <div class="create-user-input">
                    <label for="create-user-zip-code">Código postal</label>
                    <input pInputText id="create-user-zip-code" formControlName="zipCode" [style]="{'width': '100%'}" />
                    <div class="form-error zip-code">
                        {{ creationErrors['zipCode'] }}
                    </div>
                </div>
            </div>
            <div class="double-input-container">
                <div class="create-user-input">
                    <label for="create-user-email">Correo</label>
                    <input pInputText id="create-user-email" formControlName="email" [style]="{'width': '100%'}" />
                    <div class="form-error email">
                        {{ creationErrors['email'] }}
                    </div>
                </div>
                <div class="create-user-input">
                    <label for="create-user-phone">Teléfono</label>
                    <input pInputText id="create-user-phone" formControlName="phone" [style]="{'width': '100%'}" />
                    <div class="form-error phone">
                        {{ creationErrors['phone'] }}
                    </div>
                </div>
            </div>
            <div class="create-user-input">
                <label for="create-user-role">Rol</label>
                @if (loadingUserFormOptions) {
                <div class="create-user__progress-container">
                    <p-progressSpinner class="create-user__progress" ariaLabel="loading"
                        [style]="{'width': '40px', 'height': '40px'}" />
                </div>
                } @else if (loadingRolesError) {
                <div class="dropdown-load-error">
                    <div>Error de carga</div>
                    <p-button (click)="onRetryLoadRoles()" [outlined]="true" icon="pi pi-refresh"
                        severity="secondary" />
                </div>
                } @else {
                <p-dropdown id="create-user-role" formControlName="role" [options]="roleOptions" optionLabel="name"
                    optionValue="id" placeholder="Rol" [style]="{'width': '100%'}" />
                }
                <div class="form-error role">
                    {{ creationErrors['role'] }}
                </div>
            </div>
            <div class="password-field">
                <div class="create-user-input">
                    <label for="create-user-password">Contraseña</label>
                    <input pInputText id="create-user-password" type="{{ passwordInputType }}"
                        formControlName="password" [style]="{'flex': '1'}" />
                    @if (creationErrors['password']) {
                    <div class="form-error password">
                        {{ creationErrors['password'] }}
                    </div>
                    } @else {
                    <div class="transparent">.</div>
                    }
                </div>
                <button type="button" pButton icon="pi pi-{{ passwordVisibilityIcon }}"
                    (click)="onPasswordVisibilityClick()" [text]="true">
                </button>
            </div>
            <div class="password-field">
                <div class="create-user-input">
                    <label for="create-user-confirmed-password">Confirmar contraseña</label>
                    <input pInputText id="create-user-confirmed-password" type="{{ passwordInputType }}"
                        formControlName="confirmedPassword" [style]="{'flex': '1'}" />
                    @if (creationErrors['confirmedPassword']) {
                    <div class="form-error confirmed-password">
                        {{ creationErrors['confirmedPassword'] }}
                    </div>
                    } @else {
                    <div class="transparent">.</div>
                    }
                </div>
                <button type="button" pButton icon="pi pi-{{ passwordVisibilityIcon }}"
                    (click)="onPasswordVisibilityClick()" [text]="true">
                </button>
            </div>
        </fieldset>
        <div class="item-form__actions">
            <p-button label="Cerrar" severity="secondary" outlined="true" (click)="onCancelUserForm()" />
            <p-button id="create-user-submit" label="Guardar" type="submit" [loading]="savingUser" />
        </div>
    </form>
</p-dialog>
<p-dialog class="save-user-dialog" [draggable]="false" [dismissableMask]="false" (onHide)="onHideUserForm()"
    header="Usuario" [modal]="true" [(visible)]="updateItemVisible" [style]="{'padding-bottom': '0'}">
    <form id="update-user-form" class="create-user-form" [formGroup]="updateUserForm" (ngSubmit)="onUpdateUserSubmit()">
        <fieldset class="create-user-fields">
            <div class="double-input-container">
                <div class="create-user-input">
                    <label for="update-user-name">Nombre</label>
                    <input pInputText id="update-user-name" formControlName="name" [style]="{'width': '100%'}" />
                    <div class="form-error">
                        {{ updateErrors['name'] }}
                    </div>
                </div>
                <div class="create-user-input">
                    <label for="update-user-last-name">Apellido</label>
                    <input pInputText id="update-user-last-name" formControlName="lastName"
                        [style]="{'width': '100%'}" />
                    <div class="form-error">
                        {{ updateErrors['lastName'] }}
                    </div>
                </div>
            </div>
            <div class="double-input-container">
                <div class="create-user-input">
                    <label for="create-user-state">Estado</label>
                    @if (loadingStatesOptions) {
                    <div class="create-user__progress-container">
                        <p-progressSpinner class="create-user__progress" ariaLabel="loading"
                            [style]="{'width': '40px', 'height': '40px'}" />
                    </div>
                    } @else if (loadingStatesError) {
                    <div class="dropdown-load-error">
                        <div>Error de carga</div>
                        <p-button (click)="onRetryLoadStates()" [outlined]="true" icon="pi pi-refresh"
                            severity="secondary" />
                    </div>
                    } @else {
                    <p-dropdown id="update-user-state" formControlName="state" [options]="stateOptions"
                        optionLabel="name" optionValue="id" placeholder="Estado" [style]="{'width': '100%'}" />
                    }
                    <div class="form-error">
                        {{ updateErrors['state'] }}
                    </div>
                </div>
                <div class="create-user-input">
                    <label for="update-user-city">Ciudad</label>
                    <input pInputText id="update-user-city" formControlName="city" [style]="{'width': '100%'}" />
                    <div class="form-error">
                        {{ updateErrors['city'] }}
                    </div>
                </div>
            </div>
            <div class="double-input-container">
                <div class="create-user-input">
                    <label for="update-user-district">Colonia</label>
                    <input pInputText id="update-user-district" formControlName="district"
                        [style]="{'width': '100%'}" />
                    <div class="form-error">
                        {{ updateErrors['district'] }}
                    </div>
                </div>
                <div class="create-user-input">
                    <label for="update-user-street">Calle</label>
                    <input pInputText id="update-user-street" formControlName="street" [style]="{'width': '100%'}" />
                    <div class="form-error">
                        {{ updateErrors['street'] }}
                    </div>
                </div>
            </div>
            <div class="double-input-container">
                <div class="create-user-input">
                    <label for="update-user-street-number">Número de vivienda</label>
                    <input pInputText id="update-user-street-number" formControlName="streetNumber"
                        [style]="{'width': '100%'}" />
                    <div class="form-error">
                        {{ updateErrors['streetNumber'] }}
                    </div>
                </div>
                <div class="create-user-input">
                    <label for="update-user-zip-code">Código postal</label>
                    <input pInputText id="update-user-zip-code" formControlName="zipCode" [style]="{'width': '100%'}" />
                    <div class="form-error">
                        {{ updateErrors['zipCode'] }}
                    </div>
                </div>
            </div>
            <div class="double-input-container">
                <div class="create-user-input">
                    <label for="update-user-email">Correo</label>
                    <input pInputText id="update-user-email" formControlName="email" [style]="{'width': '100%'}" />
                    <div class="form-error">
                        {{ updateErrors['email'] }}
                    </div>
                </div>
                <div class="create-user-input">
                    <label for="update-user-phone">Teléfono</label>
                    <input pInputText id="update-user-phone" formControlName="phone" [style]="{'width': '100%'}" />
                    <div class="form-error">
                        {{ updateErrors['phone'] }}
                    </div>
                </div>
            </div>
            <div class="create-user-input">
                <label for="create-user-role">Rol</label>
                @if (loadingUserFormOptions) {
                <div class="create-user__progress-container">
                    <p-progressSpinner class="create-user__progress" ariaLabel="loading"
                        [style]="{'width': '40px', 'height': '40px'}" />
                </div>
                } @else if (loadingRolesError) {
                <div class="dropdown-load-error">
                    <div>Error de carga</div>
                    <p-button (click)="onRetryLoadRoles()" [outlined]="true" icon="pi pi-refresh"
                        severity="secondary" />
                </div>
                } @else {
                <p-dropdown id="update-user-role" formControlName="role" [options]="roleOptions" optionLabel="name"
                    optionValue="id" placeholder="Rol" [style]="{'width': '100%'}" />
                }
                <div class="form-error">
                    {{ updateErrors['role'] }}
                </div>
            </div>
        </fieldset>
        <div class="item-form__actions">
            <p-button label="Eliminar" severity="danger" outlined="true" (click)="onDeleteUser()"
                [loading]="deletingUser" />
            <div class="item-form__spacer"></div>
            <p-button label="Cerrar" severity="secondary" outlined="true" (click)="onCancelUpdateUserForm()" />
            <p-button label="Guardar" type="submit" [loading]="updatingUser" />
        </div>
    </form>
</p-dialog>
<p-dialog id="user-saved-dialog" [draggable]="false" [dismissableMask]="true" header="Éxito" [modal]="true"
    [(visible)]="userSavedDialogVisible">
    <span class="p-text-secondary block mb-5" [style]="{'minHeight': '100px'}">Se guardó el usuario</span>
    <div class="user-saved-dialog-actions">
        <p-button label="Okay" (onClick)="onCloseSavedUserDialog()" />
    </div>
</p-dialog>
<p-dialog [draggable]="false" [dismissableMask]="true" header="Eliminado" [modal]="true"
    [(visible)]="userDeletedDialogVisible">
    <span class="p-text-secondary block mb-5" [style]="{'minHeight': '100px'}">Se eliminó el usuario</span>
    <div class="user-saved-dialog-actions">
        <p-button label="Okay" (onClick)="onCloseDeletedUserDialog()" />
    </div>
</p-dialog>
@if (loadingFirstTime) {
<div class="content__progress-container">
    <p-progressSpinner class="content__progress" ariaLabel="loading" [style]="{'width': '100px', 'height': '100px'}" />
</div>
} @else {
<div class="top-row">
    <h1 class="title">Usuarios</h1>
    <p-button label="Nuevo" id="create-new" icon="pi pi-plus" (onClick)="onCreateClick()" />
</div>
<div class="search-controls-container">
    <div class="search__bar-container">
        <p-inputGroup>
            <p-inputGroupAddon>
                <i class="pi pi-search"></i>
            </p-inputGroupAddon>
            <input pInputText placeholder="Nombre o apellido" [formControl]="searchControl" />
        </p-inputGroup>
    </div>
    <div class="sort-dropdown-container">
        <p-dropdown [options]="sortOptions" [(ngModel)]="selectedSort" optionLabel="name" placeholder="Ordenar por"
            [style]="{'width': '100%'}" (onChange)="onSortChanged()" />
    </div>
</div>
<div class="paginator-container">
    <p-paginator (onPageChange)="onPageChange($event)" [showFirstLastIcon]="false" [pageLinkSize]="4" [first]="first"
        [rows]="rows" [totalRecords]="totalRecords" />
</div>
<div class="total-items-container">
    <p class="total-items">{{lastSeenTotalItems}} resultados</p>
</div>
<div class="users">
    @if (loadingSubsequentTime) {
    <div class="users__progress-container">
        <p-progressSpinner class="users__progress" ariaLabel="loading" [style]="{'width': '70px', 'height': '70px'}" />
    </div>
    } @else if (loadUsersError) {
    <div class="load-users-error">
        <img class="load-users-error-img" src="images/load-error-3.svg" alt="load-users-error">
        <h4 class="load-users-error-text">Error al cargar</h4>
        <p-button (click)="onRetryLoadUsers()" icon="pi pi-refresh" label="Reintentar"></p-button>
    </div>
    } @else if (lastSeenTotalItems == 0) {
    <div class="zero-items">
        <div class="zero-items-img-container">
            <img class="zero-items-img" src="images/search.svg" alt="zero-items">
        </div>
        <h3 class="zero-items-text">Sin resultados</h3>
    </div>
    } @else {
    <p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Rol</th>
                <th>Ubicación</th>
                <th>Correo</th>
                <th>Teléfono</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr class="row" (click)="onRowClick(user)">
                <td>{{ user.name }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.role.name }}</td>
                <td>{{ formatUserLocation(user) }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
            </tr>
        </ng-template>
    </p-table>
    }
</div>
}