.top-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.content__progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.users__progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.search__bar-container {
    margin: 20px 0 0 0;
}

.users {
    margin-top: 20px;
}

.title {
    color: rgb(25, 53, 74);
}

.sort-dropdown-container {
    margin-top: 20px;
}

.paginator-container {
    margin-top: 10px;
}

.total-items-container {
    margin-top: 10px;
}

.total-items {
    color: rgb(80, 98, 104);
    font-size: 14px;
}

.item-form__actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    position: sticky;
    bottom: 0;
    background-color: white;
    padding: 20px 0;
    border-top: 1px solid rgb(210, 211, 212);
    padding-right: 22px;
}

.create-user-fields {
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding: 30px 22px 30px 22px;
}

.create-user-input {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.create-user-input label {
    color: rgb(50, 76, 95);
    font-weight: 500;
}

.create-user__progress-container {
    display: flex;
    justify-content: center;
}

.form-error {
    margin-top: 4px;
    color: rgb(235, 61, 61);
    font-size: 14px;
}

.double-input-container {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.password-field {
    display: flex;
    width: 100%;
    align-items: center;
}

.password-field .create-user-input {
    float: 1;
    width: 100%;
}

.transparent {
    color: transparent;
}

.dropdown-load-error {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.load-users-error {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.load-users-error-img {
    width: 100%;
}

.load-users-error-text {
    text-align: center;
    color: rgb(70, 72, 72);
    margin-bottom: 20px;
}

::ng-deep .save-user-dialog .p-dialog .p-dialog-header {
    border-bottom: 1px solid rgb(210, 211, 212);
}

::ng-deep .save-user-dialog .p-dialog .p-dialog-content {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

::ng-deep .dropdown-load-error .p-button {
    font-size: 14px;
}

.user-saved-dialog-actions {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}

.row {
    cursor: pointer;
}

.row:hover {
    background-color: #e0ecfc;
}

.zero-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.zero-items-text {
    color: rgb(101, 105, 109);
}

.zero-items-img-container {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.zero-items-img {
    width: 100%;
}

@media screen and (min-width: 570px) {
    .double-input-container {
        flex-direction: row;
        gap: 12px;
    }
}

@media screen and (min-width: 500px) {
    .search-controls-container {
        display: flex;
        gap: 10px;
    }
}