.filters-surface-multiple-choice-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.filters-surface-multiple-choice-option:hover {
    background-color: rgb(234, 235, 235);
}

.filters-surface-multiple-choice-option:active {
    background-color: rgb(204, 206, 206);
}

.filters-surface-multiple-choice-option-label {
    flex: 1;
    padding: 12px 0 12px 6px;
    cursor: pointer;
}