.form-input {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.form-input label {
    color: rgb(50, 76, 95);
    font-weight: 600;
}

.image-label {
    color: rgb(50, 76, 95);
    font-weight: 600;
}

.form-error {
    margin-top: 4px;
    color: rgb(235, 61, 61);
    font-size: 14px;
}

.double-input-container {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.form__progress-container {
    display: flex;
    justify-content: center;
}

.image-frame {
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    border: 2px dotted rgb(41, 113, 158);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease;
    flex-direction: column;
    gap: 16px;
}

.image-frame:hover {
    background-color: rgb(192, 228, 245);
}

.add-image-icon-container {
    width: 90px;
    height: 90px;
}

.add-image-icon {
    width: 100%;
    height: 100%;
}

.add-image-text {
    text-align: center;
    color: rgb(42, 57, 81);
}

.image-spinner-container {
    width: 500px;
    height: 310px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-form-top-container .image-frame {
    width: 500px;
    height: 310px;
    margin-top: 8px;
}

.product-form-top-container .selected-image-container {
    width: 500px;
    height: 310px;
    text-align: center;
    margin-top: 8px;
}

.product-form-top-container .selected-image-actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    align-items: center;
}

.single-input-container {
    padding: 10px 0;
}

.product-image-placeholder {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

@media screen and (min-width: 570px) {
    .double-input-container {
        flex-direction: row;
        gap: 12px;
    }
}

@media screen and (min-width: 800px) {
    .product-form-top-container {
        display: flex;
        gap: 30px;
    }
}