.sidebar__overlay {
    position: fixed;
    color: rgba(0, 0, 0, 0);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    transition: all 200ms ease;
    pointer-events: none;
}

.sidebar__overlay.visible {
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: all;
}

.sidebar__overlay .sidebar {
    background-color: rgb(38, 51, 60);
    height: 100%;
    width: 80%;
    transform: translateX(-100%);
    transition: all 200ms ease;
}

.sidebar__progress-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar__progress {
    transform: translateY(-50%);
}

.sidebar__overlay.visible .sidebar {
    transform: translateX(0);
}

.sidebar__close-button-container {
    display: flex;
    justify-content: flex-end;
    padding: 0 4px 0 0;
}

.sidebar__profile {
    padding: 24px;
    text-align: center;
    color: white;
}

.sidebar__links {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 0;
    padding: 10px 12px;
}

.sidebar__link {
    text-decoration: none;
    color: white;
    padding: 10px 16px;
    border-radius: 10px;
    transition: 200ms ease all;
    border: 2px solid transparent;
    font-size: 12px;
}

.sidebar__user {
    font-size: 16px;
}

.sidebar__link:hover {
    border: 2px solid rgb(70, 94, 112);
}

.sidebar__link.active:hover {
    border: 2px solid transparent;
}

.sidebar__link.active {
    background-color: rgb(70, 94, 112);
    color: white;
}

.sidebar__link-text {
    margin-left: 20px;
}

.sidebar .divider {
    width: 90%;
    height: 1px;
    margin: 0 auto;
    background-color: rgb(144, 144, 144);
}

.nav {
    height: 70px;
    padding: 0 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    display: flex;
    align-items: center;
    background-color: rgb(21, 30, 36);
}

.nav-spacer {
    flex: 1;
}

.nav__logo {
    width: 80px;
    height: 50px;
    background-color: #057A03;
    border-radius: 6px;
    padding: 4px 8px;
}

.nav__logo-img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.content {
    padding: 16px 12px;
}

.load-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30%;
}

.load-error-img-container {
    width: 150px;
    margin: 0 auto;
}

.load-error-img {
    width: 100%;
}

.load-error-text {
    color: rgb(101, 105, 109);
    margin-bottom: 20px;
}

@media screen and (min-width: 800px) {

    :root,
    body,
    .page {
        overflow-y: hidden;
    }

    .sidebar__overlay {
        position: relative;
        pointer-events: all;
    }

    .nav__sidebar-button {
        display: none;
    }

    .sidebar-and-content-container {
        display: flex;
    }

    .content {
        flex: 1;
        height: calc(100v - 70px);
        padding: 16px 12px 8px 12px;
    }

    .sidebar__overlay .sidebar {
        transform: translateX(0);
        width: 200px;
        box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
        height: calc(100vh - 70px);
    }

    .sidebar__close-button-container {
        display: none;
    }
}