<div class="page">
    <nav class="nav">
        <div class="nav__logo">
            <img class="nav__logo-img" src="images/abarrey_logo.png" alt="logo">
        </div>
        <p-button class="nav__sidebar-button" [style]="{'marginLeft': '10px'}" severity="secondary"
            icon="pi pi-microsoft" [rounded]="true" [text]="true" (click)="onOpenSidebarClick()" />
        <div class="nav-spacer"></div>
        <p-menu #menu [model]="items" [popup]="true" />
        <p-button outlined="true" rounded="true" (onClick)="menu.toggle($event)" icon="pi pi-user" id="user-options" />
    </nav>
    <div class="sidebar-and-content-container">
        <div class="sidebar__overlay" [class.visible]="sidebarOpen" (click)="onSidebarOverlayClick()">
            <div class="sidebar" (click)="onSidebarClick($event)">
                @if (loading) {
                <div class="sidebar__progress-container">
                    <p-progressSpinner class="sidebar__progress" ariaLabel="loading"
                        [style]="{'width': '80px', 'height': '80px'}" />
                </div>
                } @else if (loadError) {
                <div class="load-error">
                    <div class="load-error-img-container">
                        <img src="images/load-error.svg" alt="load-error">
                    </div>
                    <h4 class="load-error-text">No se pudo cargar</h4>
                    <p-button label="Reintentar" icon="pi pi-refresh" (click)="onRetryGetMe()"></p-button>
                </div>

                } @else {
                <div class="sidebar__close-button-container">
                    <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="secondary"
                        (click)="onCloseSidebarClick()" />
                </div>
                <div class="sidebar__profile">
                    <h3 class="sidebar__user">
                        {{ userPersonalName }}
                    </h3>
                </div>
                <p-divider />
                <ul class="sidebar__links">
                    @for (link of links; track link.href) {
                    <a id="{{ link.id }}" (click)="onSidebarLinkClick()" routerLink="{{ link.href }}"
                        class="sidebar__link" [class.active]="isActiveLink(link)">
                        <i class="pi pi-{{ link.icon }} sidebar__link-icon "></i>
                        <span class="sidebar__link-text">
                            {{ link.text }}
                        </span>
                    </a>
                    }
                </ul>
                }
            </div>
        </div>
        <div class="content">
            <router-outlet />
        </div>
    </div>
</div>