.content__progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.title {
    color: rgb(25, 53, 74);
    font-size: 16px;
}

.salute {
    color: rgb(48, 81, 106);
}

.daytime {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.sun__container,
.moon__container {
    width: 80px;
    height: 80px;
}

.sun__img,
.moon__img {
    width: 100%;
    animation: rotate 20s linear infinite;
}

.daytime__details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.daytime__day-and-time {
    color: black;
    font-size: 14px;
    font-weight: 500;
}

.load-me-error-img-container {
    width: 200px;
    height: 200px;
}

.load-me-error {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.load-me-error-text {
    color: rgb(74, 95, 99);
}

.load-me-error-img {
    width: 100%;
}

.load-me-error-text-and-actions {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}