<div class="page">
    <div class="background">
    </div>
    <div class="login-form__container">
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="login-form__logo-container">
                <img class="login-form__logo-img" src="images/abarrey_logo.png" alt="logo">
            </div>
            <fieldset class="login-form__fields">
                <div>
                    <p-floatLabel>
                        <input pInputText id="email" formControlName="email" [style]="{'width': '100%'}" />
                        <label for="email">Correo</label>
                    </p-floatLabel>
                    <div class="form-error">
                        {{ emailError }}
                    </div>
                </div>
                <div>
                    <p-inputGroup>
                        <p-floatLabel>
                            <input pInputText type="{{ passwordInputType }}" id="password" formControlName="password"
                                [style]="{'width': '100%'}" />
                            <label for="password">Contraseña</label>
                        </p-floatLabel>
                        <button type="button" pButton icon="pi pi-{{ passwordVisibilityIcon }}"
                            (click)="onPasswordVisibilityClick()" [text]="true">
                        </button>
                    </p-inputGroup>
                    <div class="form-error">
                        {{ passwordError }}
                    </div>
                </div>
            </fieldset>
            <div class="login-form__submit-container">
                <p-button label="Ingresar" type="submit" [style]="{'width': '100%'}" />
            </div>
        </form>
    </div>
</div>