<div class="page">
    <nav class="nav">
        <div class="nav__logo">
            <img class="nav__logo-img" src="images/abarrey_logo.png" alt="logo">
        </div>
        <p-button [style]="{'marginLeft': '10px'}" severity="secondary" icon="pi pi-microsoft" [rounded]="true"
            [text]="true" />
    </nav>
    <div class="content">
        @if (loading) {
        } @else {
        <h1 class="title">Inicio</h1>
        <div class="daytime">
            @if (isDay) {
            <div class="sun__container">
                <img class="sun__img" src="icons/sun.svg" alt="sun">
            </div>
            } @else {
            <div class="moon__container">
                <img class="moon__img" src="icons/moon.svg" alt="moon">
            </div>
            }
            <div class="daytime__details">
                <h3 class="salute">{{ salutation }}</h3>
                <h6 class="daytime__day-and-time">{{ formattedDate }}</h6>
            </div>
        </div>
        }
    </div>
</div>