.form-input {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.form-input label {
    color: rgb(50, 76, 95);
    font-weight: 600;
}

.form-error {
    margin-top: 4px;
    color: rgb(235, 61, 61);
    font-size: 14px;
}

.form__progress-container {
    display: flex;
    justify-content: center;
}