<ng-template #rowTemplate let-item>
    <td>{{ formatTime(item.timestamp) }}</td>
    <td>{{ formatResponsibleName(item) }}</td>
    <td>{{ item.movementType.description }}</td>
    <td>{{ item.observations }}</td>
</ng-template>

<app-crud-module [title]="'Movimientos'" [formTitle]="'Movimiento'" [searchPlaceholder]="'XXXXXXXXXX'"
    [createItemCreationForm]="createItemCreationForm()" [createItemCreationForm]="createItemCreationForm()"
    [createItemUpdateForm]="createItemUpdateForm()" [getItems]="getItems()" [getCreationErrors]="getCreationErrors()"
    [getUpdateErrors]="getUpdateErrors()" [tableHeaders]="tableHeaders" [rowTemplate]="rowTemplate"
    [sortOptions]="sortOptions">
</app-crud-module>