<p-confirmDialog id="message-dialog" />
@if (hasFilters) {
<p-dialog class="form-dialog" [draggable]="false" [dismissableMask]="false" (onHide)="onHideFiltersForm()"
    header="Filtrar {{ pluralNoun }}" [modal]="true" [(visible)]="filtersVisible" [style]="{'padding-bottom': '0'}">
    <form id="filters-form" class="filters-form" (ngSubmit)="onFiltersSubmit()">
        <fieldset class="filter-fields">
            <ng-container *ngTemplateOutlet="filterFieldsTemplate;  context: { }">
            </ng-container>
        </fieldset>
        <div class="form-dialog__actions">
            <p-button label="Cerrar" severity="secondary" outlined="true" (click)="onCancelFiltersForm()" />
            <p-button id="filters-submit" label="Aplicar" type="submit" />
        </div>
    </form>
</p-dialog>
}
<p-dialog class="form-dialog" [draggable]="false" [dismissableMask]="false" (onHide)="onHideItemForm()"
    header="{{ formTitle }}" [modal]="true" [(visible)]="createItemVisible" [style]="{'padding-bottom': '0'}">
    <form id="create-item-form" class="create-item-form" [formGroup]="itemCreationForm"
        (ngSubmit)="onCreateItemSubmit()">
        <fieldset class="create-item-fields">
            <ng-container
                *ngTemplateOutlet="createItemFieldsTemplate;  context: { errors: creationErrors(), formGroup: itemCreationForm }">
            </ng-container>
        </fieldset>
        <div class="form-dialog__actions">
            <p-button label="Cerrar" severity="secondary" outlined="true" (click)="onCancelItemForm()" />
            <p-button id="create-item-submit" label="Guardar" type="submit" [loading]="savingItem" />
        </div>
    </form>
</p-dialog>
<p-dialog class="form-dialog" [draggable]="false" [dismissableMask]="false" (onHide)="onHideItemForm()"
    header="{{ formTitle }}" [modal]="true" [(visible)]="updateItemVisible" [style]="{'padding-bottom': '0'}">
    <form id="update-item-form" class="create-item-form" [formGroup]="updateItemForm" (ngSubmit)="onUpdateItemSubmit()">
        <fieldset class="create-item-fields" [ngStyle]="updateItemFieldsStyle">
            <ng-container
                *ngTemplateOutlet="updateItemFieldsTemplate;  context: { errors: updateErrors(), formGroup: updateItemForm }">
            </ng-container>
        </fieldset>
        <div class="form-dialog__actions">
            <p-button label="Cerrar" severity="secondary" outlined="true" (click)="onCancelUpdateItemForm()" />
            <p-button label="Guardar" type="submit" [loading]="updatingItem" />
        </div>
    </form>
</p-dialog>
<p-dialog id="item-saved-dialog" [draggable]="false" [dismissableMask]="true" header="Éxito" [modal]="true"
    [(visible)]="itemSavedDialogVisible">
    <span class="p-text-secondary block mb-5" [style]="{'minHeight': '100px'}">Se guardó el registro</span>
    <div class="item-saved-dialog-actions">
        <p-button id="close-saved-item-dialog" label="Okay" (onClick)="onCloseSavedItemDialog()" />
    </div>
</p-dialog>
<p-dialog [draggable]="false" [dismissableMask]="true" header="Eliminado" [modal]="true"
    [(visible)]="itemDeletedDialogVisible">
    <span class="p-text-secondary block mb-5" [style]="{'minHeight': '100px'}">Se eliminó el registro</span>
    <div class="item-saved-dialog-actions">
        <p-button label="Okay" (onClick)="onCloseDeletedItemDialog()" />
    </div>
</p-dialog>
@if (loadingFirstTime) {
<div class="content__progress-container">
    <p-progressSpinner class="content__progress" ariaLabel="loading" [style]="{'width': '100px', 'height': '100px'}" />
</div>
} @else {
<div class="top-row">
    <h1 class="title">{{ title }}</h1>
    <p-button label="Nuevo" id="create-new" icon="pi pi-plus" (onClick)="onCreateClick()"
        [style]="{'fontSize': '10px', 'padding': '6px 10px'}" />
</div>
<div class="search-controls-container">
    @if (hasSearchBar) {
    <div class="search__bar-container">
        <p-inputGroup>
            <p-inputGroupAddon [style]="{'height': '0px', 'padding': '0'}">
                <i class="pi pi-search" [style]="{'fontSize': '12px', 'position': 'relative', 'bottom': '9px'}"></i>
            </p-inputGroupAddon>
            <input pInputText placeholder="{{ searchPlaceholder }}" [formControl]="searchControl"
                [style]="{'fontSize':'12px', 'height': '12px', 'color': 'black'}" />
        </p-inputGroup>
    </div>
    }
    <div class="sort-and-filters-container">
        <div>
            <p-inputGroup [style]="{'width': 'auto'}">
                <p-inputGroupAddon [style]="{'height': '0px', 'padding': '0'}">
                    <i class="pi pi-sort-alt"
                        [style]="{'fontSize': '12px', 'position': 'relative', 'bottom': '9px'}"></i>
                </p-inputGroupAddon>
                <div class="sort-dropdown-container">
                    <p-dropdown [options]="sortOptions" [(ngModel)]="selectedSort" optionLabel="name"
                        placeholder="Ordenar por" [style]="{'width': '100%', 'height': '26px', 'padding': '0'}"
                        (onChange)="onSortChanged()" />
                </div>
            </p-inputGroup>
        </div>
        @if(hasFilters) {
        <div>
            <p-button label="Filtros" icon="pi pi-sliders-h" [outlined]="true" severity="secondary"
                [style]="{'fontSize': '13px', 'padding': '4px 20px'}" (click)="onShowFilters()" />
        </div>
        }
    </div>
</div>

<div class="total-items-container">
    <p class="total-items">{{ formattedResults }}</p>
</div>
<div class="items">
    @if (loadingSubsequentTime) {
    <div class="items__progress-container">
        <p-progressSpinner class="items__progress" ariaLabel="loading" [style]="{'width': '70px', 'height': '70px'}" />
    </div>
    } @else if (loadItemsError) {
    <div class="load-items-error">
        <img class="load-items-error-img" src="images/load-error-3.svg" alt="load-items-error">
        <h4 class="load-items-error-text">Error al cargar</h4>
        <p-button (click)="onRetryLoadItems()" icon="pi pi-refresh" label="Reintentar"></p-button>
    </div>
    } @else if (lastSeenTotalItems == 0) {
    <div class="zero-items">
        <div class="zero-items-img-container">
            <img class="zero-items-img" src="images/search.svg" alt="zero-items">
        </div>
        <h3 class="zero-items-text">Sin resultados</h3>
    </div>
    } @else {
    <div class="table-container">
        <p-table class="items-table" [value]="items" [styleClass]="'p-datatable-sm'" [scrollable]="true">
            <ng-template pTemplate="header">
                <tr class="table-headers">
                    @for(tableHeader of tableHeaders; track tableHeader) {
                    <th>{{ tableHeader }}</th>
                    }
                    <th class="row-actions-column">
                        <span class="row-actions-column-text">Acciones</span>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr class="row">
                    <ng-container *ngTemplateOutlet="rowTemplate; context: { $implicit: item }"></ng-container>
                    <td class="row-actions">
                        <div class="row-actions-buttons">
                            <p-button icon="pi pi-pencil" severity="success" (click)="onEditClick(item)"
                                [style]="{'width': '28px', 'height': '28px'}" />
                            <p-button icon="pi pi-trash" severity="danger" (click)="onDeleteItem(item.id)"
                                [style]="{'width': '28px', 'height': '28px'}" />
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    }
</div>
}
<div class="paginator-container">
    <p-paginator (onPageChange)="onPageChange($event)" [showFirstLastIcon]="false" [pageLinkSize]="4" [first]="first"
        [rows]="rows" [totalRecords]="totalRecords" class="custom-paginator" />
</div>