<ng-template #rowTemplate let-item>
    <td>{{ item.name }}</td>
</ng-template>


<ng-template #itemFieldsTemplate let-errors="errors" let-formGroup="formGroup">
    <div class="form-input">
        <label>Nombre</label>
        <input pInputText name="user-last-name" [formControl]="formGroup.get('name')" [style]="{'width': '100%'}" />
        <div class="form-error name">
            {{ errors['name'] }}
        </div>
    </div>
</ng-template>

<app-crud-module [title]="'Marcas'" [formTitle]="'Marca'" [createItemCreationForm]="createForm()"
    [createItemUpdateForm]="createForm()" [getItems]="getItems()" [sortOptions]="sortOptions"
    [tableHeaders]="tableHeaders" [rowTemplate]="rowTemplate" [createItemFieldsTemplate]="itemFieldsTemplate"
    [updateItemFieldsTemplate]="itemFieldsTemplate" [getCreationErrors]="getFormErrors()"
    [getUpdateErrors]="getFormErrors()" [mapSaveItemError]="mapSaveItemError()" [createItem]="createItem()"
    [updateItem]="updateItem()" [mapFormToCreationDto]="mapFormToDto()" [mapFormToUpdateDto]="mapFormToDto()"
    [deleteItemById]="deleteItemById()">
</app-crud-module>